<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84BF96B01E863AD5008CF67D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF96C41E863AD8008CF67D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF96CF1E863AD8008CF67D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
